@page
@model ClimateMonitor.Web.Pages.Index

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    
</div>
<environment include="Development">
    <script src="~/ClientApp/build/js/main.d24e2344.js"></script>
</environment>
</body>
</html>