@page
@model ClimateMonitor.Web.Pages.Index

<!DOCTYPE html>

<html>
<head>
    <title>Climate Monitor</title>
    <link href="/static/css/main.f855e6bc.css" rel="stylesheet">
</head>
<body>
<div id="root"></div>
<environment include="Development">
    <script src="~/static/js/main.d24e2344.js"></script>
</environment>
</body>
</html>