@page
@model ClimateMonitor.Web.Pages.SettingsModel

<!DOCTYPE html>

<html>
<head>
    <title>Climate Monitor</title>
    <link href="/static/css/main.css" rel="stylesheet">
</head>
<body>
    <div id="root"></div>
    <environment include="Development">
        <script src="~/static/js/main.js"></script>
    </environment>
</body>
</html>